*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
*.iml
.gradle/
/local.properties
/.idea/
/build/
/app/build/
.kotlin/
